{% extends "templates/baseAdmin.html.twig" %}

{% block title %}		
Access Panel
{% endblock %}	



{% block topJavascript %}

{% endblock %}		

{% block header %}
Access Panel
{% endblock %}


{% block content %}

<div id="userList"></div>
    

{% endblock %}		

{% block bottomJavascript %}
<script>
    
    function displayUsers( data ){
        
        var tableStr = "";
        tableStr += "<table class='table table-striped table-bordered'>";
        
        $.each( data, function( key, value){
            tableStr += "<tr>";
            tableStr += "<td>";
            tableStr += value['username'];
            tableStr += "</td>";
            tableStr += "<td>";
            tableStr += value['ip'];
            tableStr += "</td>";
            tableStr += "<td>";
            tableStr += value['allowedAccess'];
            tableStr += "</td>";
            tableStr += "<td>";
            tableStr += "<form class='submitApi' action='{{ app.request.getBaseURL() }}/api/giveaccess'>";
            tableStr += "<input type='hidden' name='ip' value='" + value['ip'] + "'>";
            tableStr += "<input class='btn btn-primary' type='submit'/>";
            tableStr += "</form>";
            tableStr += "</td>";
            tableStr += "</tr>";
        });
        tableStr += "</table>";
        $('#userList').append(tableStr);
        
    }  
    
    $(document).ready(function() {
        console.log("ready");
        $.ajax({
            url: "{{ app.request.getBaseURL() }}/api/getusers"
        }).done(function(data) {
            console.log("Done");
            console.log(data);
            displayUsers(data);
        });
    });
    
     $('.submitApi').submit(function( event ) {  
        event.preventDefault();
        console.log("Submit pressed");
        var form = $(this);
        $.ajax({
            url: $(this).attr('action'),
            type: 'GET',
            data: $(this).serializeArray(),
            success: function(json) {
                console.log(json);
                //@TODO check if modal exists 
               // $(form).parent().modal('hide');
            }
            
        });
    });

    </script>

{% endblock %}