
#chartOptions {
	padding: 25px;
	margin-bottom: 14px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}

.subOptions {
	display:inline;
	margin-left: 20px;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
	padding: 10px;
}
