#map{ 
	height: 270px; 
	margin-bottom: 20px;
}

.table-striped tbody tr:nth-child(odd) td.alarm_OK{
    background-color: #d6e9c6;
}

.table-striped tbody tr:nth-child(odd) td.alarm_High{
    background-color: #f2dede;
}

.table-striped tbody tr:nth-child(odd) td.alarm_Low{
    background-color: #bce8f1;
}

.table-striped tbody tr:nth-child(even) td.alarm_OK{
    background-color: #d6e9c6;
}

.table-striped tbody tr:nth-child(even) td.alarm_High{
    background-color: #f2dede;
}

.table-striped tbody tr:nth-child(even) td.alarm_Low{
    background-color: #bce8f1;
}

.table-striped tbody tr:nth-child(odd) td.details {
    background-color: #fcf8e3;
}

.table-striped tbody tr:nth-child(even) td.details {
    background-color: #fcf8e3;
}
