
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Robot Control - {% block title %} Title {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="DemoWebsite to be used as a M2M website example">
    <meta name="author" content="Shane Egan">

    {% block styles %}
    <!-- Le styles -->
    <link href="{{ app.request.getBaseURL() }}/assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
	
	<script src="{{ app.request.getBaseURL() }}/assets/js/jquery.js"></script>
        <script src="{{ app.request.getBaseURL() }}/assets/js/jquery.fireEvent.js"></script>
        
	<link rel="stylesheet" type="text/css" href="{{ app.request.getBaseURL() }}/assets/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ app.request.getBaseURL() }}/assets/css/bootstrap-responsive.css">
	<link rel="stylesheet" type="text/css" href="{{ app.request.getBaseURL() }}/assets/css/bootstrap.custom.css">
	<link rel="stylesheet" type="text/css" href="{{ app.request.getBaseURL() }}/assets/css/DT_bootstrap2.css">  
	<link rel="stylesheet" type="text/css" href="{{ app.request.getBaseURL() }}/assets/js/leaflet/leaflet.css">  
	<link rel="stylesheet" type="text/css" href="{{ app.request.getBaseURL() }}/assets/css/globalStyle.css">
        <link rel="stylesheet" type="text/css" href="{{ app.request.getBaseURL() }}/assets/css/chart.css">
        <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/css/print.css" type="text/css" media="print"/>
        
        <link href="{{ app.request.getBaseURL() }}/assets/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
        <script src="{{ app.request.getBaseURL() }}/assets/bootstrap-editable/js/bootstrap-editable.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!-- [if lt IE 9] -->
    <!-- <script src="../assets/js/html5shiv.js"></script> -->
    <!-- [endif]-->

    <!-- Fav and touch icons -->
    <!-- 

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    Fav and touch icons -->
    <link rel="shortcut icon" type="image/ico" href="{{ app.request.getBaseURL() }}/assets/img/favicon.ico" />

    {% endblock %}
	<script type="text/javascript" language="javascript" src="{{ app.request.getBaseURL() }}/assets/js/bootstrap.js"></script>
	
	{% block topJavascript %}

	{% endblock %}

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ app.request.getBaseURL() }}/login"><img width="25" src="{{ app.request.getBaseURL() }}/assets/img/logo_w100.png" alt="360 Telemetry">   DemoSite</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="{{ app.request.getBaseURL() }}/areas">Areas</a></li>
              <li><a href="{{ app.request.getBaseURL() }}/admin">Admin</a></li>
              <li><a href="{{ app.request.getBaseURL() }}/contact">Contact</a></li>
            </ul>
               <!-- <a href="#" onclick="window.print();return false;" style="float:right;">print</a> -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
            
    </div>

    <div class="container">

    	<h1 class="print" style="display:inline;">{% block header %}Header{% endblock %}</h1><h4 style="display:inline; color:darkslategrey;">{% block subheader %}{% endblock %}</h4>
        
        {% if breadcrumbs is defined %}
            <ul class="breadcrumb">
            {% for title,url in breadcrumbs %}
                {% if loop.last %}
                    <li class="active">{{ title }}</li>
                {% else %}
                    <li><a href="{{ url }}">{{ title }}</a> <span class="divider">/</span></li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
			
        {% block content %}

			Insert page content
		
    	{% endblock %}
                        
        	    <!--
<div class="navbar navbar-inverse navbar-fixed-bottom">
                 Designed by 360 Telemetry Ltd
        </div>  -->

	    <!-- Le javascript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    
	    <script src="{{ app.request.getBaseURL() }}/assets/js/bootstrap.js"></script>
	    <script src="{{ app.request.getBaseURL() }}/assets/js/bootstrap.min.js"></script>
            <script src="{{ app.request.getBaseURL() }}/assets/js/clickableRow.js"></script>
			
	    {% block bottomJavascript %}

	    {% endblock %}
			<!--
	    <script src="assets/js/bootstrap-transition.js"></script>
	    <script src="assets/js/bootstrap-alert.js"></script>
	    <script src="assets/js/bootstrap-modal.js"></script>
	    <script src="assets/js/bootstrap-dropdown.js"></script>
	    <script src="assets/js/bootstrap-scrollspy.js"></script>
	    <script src="assets/js/bootstrap-tab.js"></script>
	    <script src="assets/js/bootstrap-tooltip.js"></script>
	    <script src="assets/js/bootstrap-popover.js"></script>
	    <script src="assets/js/bootstrap-button.js"></script>
	    <script src="assets/js/bootstrap-collapse.js"></script>
	    <script src="assets/js/bootstrap-carousel.js"></script>
	    <script src="assets/js/bootstrap-typeahead.js"></script>
			-->


  </body>
</html>
