
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Robot Control - {% block title %} Title {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="DemoWebsite to be used as a M2M website example">
    <meta name="author" content="Shane Egan">

    {% block styles %}
    <!-- Le styles -->
    <link href="{{ app.request.getBaseURL() }}/assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
	
	
	<link rel="stylesheet" type="text/css" href="{{ app.request.getBaseURL() }}/assets/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ app.request.getBaseURL() }}/assets/css/bootstrap-responsive.css">
	<link rel="stylesheet" type="text/css" href="{{ app.request.getBaseURL() }}/assets/css/bootstrap.custom.css">
	<link rel="stylesheet" type="text/css" href="{{ app.request.getBaseURL() }}/assets/css/DT_bootstrap2.css">  
	<link rel="stylesheet" type="text/css" href="{{ app.request.getBaseURL() }}/assets/js/leaflet/leaflet.css">  
	<link rel="stylesheet" type="text/css" href="{{ app.request.getBaseURL() }}/assets/css/globalStyle.css">
        <link rel="stylesheet" type="text/css" href="{{ app.request.getBaseURL() }}/assets/css/chart.css">
        <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/css/print.css" type="text/css" media="print"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!-- [if lt IE 9] -->
    <!-- <script src="../assets/js/html5shiv.js"></script> -->
    <!-- [endif]-->

    <!-- Fav and touch icons -->
    <!-- 

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    Fav and touch icons -->
    <link rel="shortcut icon" type="image/ico" href="{{ app.request.getBaseURL() }}/assets/img/favicon.ico" />

    {% endblock %}

        <script src="{{ app.request.getBaseURL() }}/assets/js/jquery.js"></script>
	<script type="text/javascript" language="javascript" src="{{ app.request.getBaseURL() }}/assets/js/bootstrap.js"></script>
	
	{% block topJavascript %}

	{% endblock %}

  </head>

  <body>
    <div class="container">

    	<h1 class="print">{% block header %}Header{% endblock %}</h1>
			
        {% block content %}

			Insert page content
		
    	{% endblock %}

	    <!-- Le javascript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    
	    <script src="{{ app.request.getBaseURL() }}/assets/js/bootstrap.js"></script>
	    <script src="{{ app.request.getBaseURL() }}/assets/js/bootstrap.min.js"></script>
            <script src="{{ app.request.getBaseURL() }}/assets/js/clickableRow.js"></script>
			
	    {% block bottomJavascript %}

	    {% endblock %}
			<!--
	    <script src="assets/js/bootstrap-transition.js"></script>
	    <script src="assets/js/bootstrap-alert.js"></script>
	    <script src="assets/js/bootstrap-modal.js"></script>
	    <script src="assets/js/bootstrap-dropdown.js"></script>
	    <script src="assets/js/bootstrap-scrollspy.js"></script>
	    <script src="assets/js/bootstrap-tab.js"></script>
	    <script src="assets/js/bootstrap-tooltip.js"></script>
	    <script src="assets/js/bootstrap-popover.js"></script>
	    <script src="assets/js/bootstrap-button.js"></script>
	    <script src="assets/js/bootstrap-collapse.js"></script>
	    <script src="assets/js/bootstrap-carousel.js"></script>
	    <script src="assets/js/bootstrap-typeahead.js"></script>
			-->

  </body>
</html>
